<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>9</span></div>
   <div>Space Debris: <span>1</span></div>
   <div>Communication: <span>2</span></div>
   <div>Probe: <span>2</span></div>
   <div>Positioning: <span>1</span></div>
   <div>Space Station: <span>2</span></div>
   <div>Telescope: <span>1</span></div>
</div>




<!-- <h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satTotal}}</span></div>
   <div>Space Debris: <span>{{satSpaceDebris.value}}</span></div>
   <div>Communication: <span>{{satCommunication.value}}</span></div>
   <div>Probe: <span>{{satProbe.value}}</span></div>
   <div>Positioning: <span>{{satPositioning.value}}</span></div>
   <div>Space Station: <span>{{satSpaceStation.value}}</span></div>
   <div>Telescope: <span>{{satTelescope.value}}</span></div>
</div> -->


