<h3>Orbit Report</h3>
<table>
    <tr class="header-row">
        <th class="sortable"  (click)="sort('name')" >Name</th>
        <th class="sortable"  (click)="sort('type')" >Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <!-- TODO: put <tr *ngFor=""></tr> here -->
    <tr *ngFor="let satellite of satellites">
            <td>{{satellite.name}}</td>

            <td [class.warning]="satellite.shouldShowWarning()">{{satellite.type}}</td>
            <ng-template #noWarning>
                <td>{{satellite.type}}</td>
            </ng-template>

            <td>{{satellite.launchDate}}</td>
            <td>{{satellite.orbitType}}</td>
            <td>{{satellite.operational}}</td>
    </tr>
</table>
<!--<div class="counts">
    <div>Total: <span>{{summaryList[0]}}</span></div>
    <div>Space Debris: <span>{{satSpaceDebris}}</span></div>
    <div>Communication: <span>{{satCommunication}}</span></div>
    <div>Probe: <span>{{satProbe}}</span></div>
    <div>Positioning: <span>{{satPositioning}}</span></div>
    <div>Space Station: <span>{{satSpaceStation}}</span></div>
    <div>Telescope: <span>{{satTelescope}}</span></div>
 </div> -->

